In [68]:
#Defining display table preferences

# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "C:\\Users\\skavy\\Desktop\\Bootcamp\\Pandas\\PyCitySchools\\schools_complete.csv"
student_data_to_load = "C:\\Users\\skavy\\Desktop\\Bootcamp\\Pandas\\PyCitySchools\\students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [69]:
#DISTRICT SUMMARY
#-------------------------------------------------------------------------
#Calculate the total number of schools
Schools_Count = school_data_complete["school_name"].nunique()

#Calculate the total number of students
Students_Count = school_data_complete["student_name"].count()

#Calculate the total budget
Budget = school_data_complete["budget"].unique()
Total_Budget = "$" + str(np.around(Budget.sum(),2))

#Calculate the average math score 
Avg_Math_Score = np.around(school_data_complete["math_score"].mean(),6)

#Calculate the average reading score
Avg_Reading_Score = np.around(school_data_complete["reading_score"].mean(),5)

#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
Overall_Rate = np.around(((Avg_Math_Score + Avg_Reading_Score)/2),6)

#Calculate the percentage of students with a passing math score (70 or greater)
Math_pass = school_data_complete.loc[school_data_complete["math_score"] > 69, :]
Math_pass_percent = np.around((len(Math_pass)/ len(school_data_complete["math_score"])) * 100,6)


#Calculate the percentage of students with a passing reading score (70 or greater)
Reading_pass = school_data_complete.loc[school_data_complete["reading_score"] > 69, :]
Reading_pass_percent = np.around((len(Reading_pass) / len(school_data_complete["reading_score"])) * 100,6)

#Create a dataframe to hold the above results
District_Summary = pd.DataFrame({"Total Schools": [Schools_Count],"Total Students": [Students_Count], \
                                 "Total Budget": [Total_Budget],"Average Math Score":[Avg_Math_Score], \
                                 "Average Reading Score":[Avg_Reading_Score], "% Passing Math": [Math_pass_percent], \
                                 "% Passing Reading": [Reading_pass_percent],"% Overall Passing Rate": [Overall_Rate]
                                })
District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,$24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [93]:
#SCHOOL SUMMARY
#----------------------------------------------------------------------------------
#School Name
School_Name = school_data_complete.groupby(['school_name'])

#School Type
School_Type = School_Name["type"].first()

#Total Students
Total_Students = School_Name["Student ID"].count()

#Total School Budget
Total_Sch_Budget = School_Name["budget"].first()
#Per Student Budget
Per_Stu_Budget = Total_Sch_Budget / Total_Students

#Average Math Score
School_Avg_math = School_Name["math_score"].mean()

#Average Reading Score
School_Avg_read = School_Name["reading_score"].mean()

#% Passing Math
School_mathpass_percent= (school_data_complete[school_data_complete['math_score'] >= 70] \
                                             .groupby(["school_name"])['Student ID'].count()/Total_Students ) * 100

#% Passing Reading
School_readpass_percent= (school_data_complete[school_data_complete['reading_score'] >= 70] \
                                             .groupby(["school_name"])['Student ID'].count()/Total_Students ) * 100

#Overall Passing Rate (Average of the above two)
School_overallpass_percent = (School_mathpass_percent + School_readpass_percent) / 2

#Create a dataframe to hold the above results
School_Summary = pd.DataFrame({"School Type": School_Type,"Total Students":Total_Students, \
                               "Total School Budget": Total_Sch_Budget,"Per Student Budget": Per_Stu_Budget, \
                               "Average Math Score": School_Avg_math, "Average Reading Score":School_Avg_read, \
                               "% Passing Math":School_mathpass_percent, "% Passing Reading": School_readpass_percent, \
                               "% Overall Passing Rate": School_overallpass_percent})

# TOP PERFORMING SCHOOLS (By Passing Rate)
#-------------------------------------------------------------------------------------
top_5 = School_Summary.sort_values("% Overall Passing Rate", ascending = False)
top_5.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [94]:
# BOTTOM PERFORMING SCHOOLS (By Passing Rate)
#-------------------------------------------------------------------------------------
bottom_5 = School_Summary.sort_values("% Overall Passing Rate")
bottom_5.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [95]:
# MATH SCORES BY GRADE
# -----------------------------------------------------------------------------------------
 
# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement(using .loc)
#Groups each series by school(using Groupby)
Math_Avg_9th = school_data_complete.loc[school_data_complete["grade"] == "9th"] \
               .groupby("school_name")["math_score"].mean()
Math_Avg_10th = school_data_complete.loc[school_data_complete["grade"] == "10th"] \
                .groupby("school_name")["math_score"].mean()
Math_Avg_11th = school_data_complete.loc[school_data_complete["grade"] == "11th"] \
                .groupby("school_name")["math_score"].mean()
Math_Avg_12th = school_data_complete.loc[school_data_complete["grade"] == "12th"] \
                .groupby("school_name")["math_score"].mean()

#Combine the series into a dataframe
Math_by_grade = pd.DataFrame({"9th":Math_Avg_9th,"10th": Math_Avg_10th, "11th": Math_Avg_11th, "12th": Math_Avg_12th })
Math_by_grade
#Optional: give the displayed data cleaner formatting

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [96]:
# READING SCORES BY GRADE
# --------------------------------------------------------------------------------------------------
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
#Group each series by school
Reading_Avg_9th = school_data_complete.loc[school_data_complete["grade"] == "9th"] \
                  .groupby("school_name")["reading_score"].mean()
Reading_Avg_10th = school_data_complete.loc[school_data_complete["grade"] == "10th"] \
                   .groupby("school_name")["reading_score"].mean()
Reading_Avg_11th = school_data_complete.loc[school_data_complete["grade"] == "11th"] \
                   .groupby("school_name")["reading_score"].mean()
Reading_Avg_12th = school_data_complete.loc[school_data_complete["grade"] == "12th"] \
                   .groupby("school_name")["reading_score"].mean()

#Combine the series into a dataframe
Reading_by_grade = pd.DataFrame({"9th":Reading_Avg_9th,"10th": Reading_Avg_10th, \
                                 "11th": Reading_Avg_11th, "12th": Reading_Avg_12th})
Reading_by_grade
#Optional: give the displayed data cleaner formatting

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [116]:
# SCORES BY SCHOOL SPENDING
# -------------------------------------------------------------------------------------------
 #Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
spending_bins = [0, 585, 615, 645, 675]
group_names = ["(Low) <$585", "(Med 1) $585-615", "(Med 2) $615-645", "(High) $645-675"]


School_Summary["Spending Ranges(Per Student)"] = pd.cut(Per_Stu_Budget, spending_bins, labels=group_names)
#Average Math Score
Math_Spending = School_Summary.groupby(["Spending Ranges(Per Student)"])["Average Math Score"].mean()

#Average Reading Score
Reading_Spending = School_Summary.groupby("Spending Ranges(Per Student)")["Average Reading Score"].mean()

#% Passing Math
Mathpass_Spending = School_Summary.groupby("Spending Ranges(Per Student)")["% Passing Math"].mean()

#% Passing Reading
Readingpass_Spending = School_Summary.groupby("Spending Ranges(Per Student)")["% Passing Reading"].mean()

#Overall Passing Rate (Average of the above two)
Overall_Spending = (Mathpass_Spending + Readingpass_Spending) / 2

# creates a new frame holding the above data
Scores_By_School_Spending = pd.DataFrame({"Average Math Score": Math_Spending,"Average Reading Score": Reading_Spending, \
                                          "% Passing Math": Mathpass_Spending,"% Passing Reading": Readingpass_Spending, \
                                          "Overall Passing Rate": Overall_Spending})
                                                  
                                                   
Scores_By_School_Spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Ranges(Per Student),,,,,
(Low) <$585,83.455399,83.933814,93.460096,96.610877,95.035486
(Med 1) $585-615,83.599686,83.885211,94.230858,95.900287,95.065572
(Med 2) $615-645,79.079225,81.891436,75.668212,86.106569,80.887391
(High) $645-675,76.997210,81.027843,66.164813,81.133951,73.649382

In [140]:
# SCORES BY SCHOOL SIZE
# ------------------------------------------------------------------------------------
# Bin and label group

size_bins = [0, 1000, 2000, 5000]
Size_group = ["< 1000", "1000 - 2000", "2000 - 5000"]

School_Summary["School Size"] = pd.cut(School_Summary["Total Students"], size_bins, labels=Size_group)

#Average Math Score
Math_by_schoolsize = School_Summary.groupby(["School Size"])["Average Math Score"].mean()

#Average Reading Score
Reading_by_schoolsize = School_Summary.groupby(["School Size"])["Average Reading Score"].mean()

#% Passing Math
Mathpass_by_schoolsize = School_Summary.groupby(["School Size"])["% Passing Math"].mean()

#% Passing Reading
Readingpass_by_schoolsize = School_Summary.groupby(["School Size"])["% Passing Reading"].mean()

#Overall Passing Rate (Average of the above two)
Overall_by_schoolsize = (Mathpass_by_schoolsize + Readingpass_by_schoolsize) / 2

# creates a new frame holding the above data
Scores_By_School_Size = pd.DataFrame({"Average Math Score": Math_by_schoolsize,"Average Reading Score": Reading_by_schoolsize, \
                                      "% Passing Math": Mathpass_by_schoolsize,"% Passing Reading": Readingpass_by_schoolsize, \
                                      "Overall Passing Rate": Overall_by_schoolsize})
                                                  
                                                   
Scores_By_School_Size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
< 1000,83.821598,83.929843,93.550225,96.099437,94.824831
1000 - 2000,83.374684,83.864438,93.599695,96.790680,95.195187
2000 - 5000,77.746417,81.344493,69.963361,82.766634,76.364998

In [139]:
# SCORES BY SCHOOL TYPE
# ----------------------------------------------------------------------------------
#Average Math Score
Math_by_schooltype = School_Summary.groupby(["School Type"])["Average Math Score"].mean()

#Average Reading Score
Reading_by_schooltype = School_Summary.groupby(["School Type"])["Average Reading Score"].mean()

#% Passing Math
Mathpass_by_schooltype = School_Summary.groupby(["School Type"])["% Passing Math"].mean()

#% Passing Reading
Readingpass_by_schooltype = School_Summary.groupby(["School Type"])["% Passing Reading"].mean()

#Overall Passing Rate (Average of the above two)
Overall_by_schooltype = (Mathpass_by_schooltype + Readingpass_by_schooltype) / 2

# creates a new frame holding the above data
Scores_By_School_Type = pd.DataFrame({"Average Math Score": Math_by_schooltype,"Average Reading Score": Reading_by_schooltype, \
                                      "% Passing Math": Mathpass_by_schooltype,"% Passing Reading": Readingpass_by_schooltype, \
                                      "Overall Passing Rate": Overall_by_schooltype})
                                                  
                                                   
Scores_By_School_Type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757